*{
  box-sizing: border-box;
}
:root{
  --gradient: linear-gradient(to top, #19192E, rgba(25,25,46,0.24));
}
body,html{
  padding:0;
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: inherit;
}
nav{
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap:2em;
  background-color: #ae3ec9;
  color:#f3d9fa;
  
}
nav a{
  padding: 0.8rem 1.2rem;
  font-weight: bold;
  font-size: 1.2rem;
}
header{
  min-height: 20rem;
  background-image: var(--gradient), url(./background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  row-gap: 1em;
}
header > * {
  margin:0;
}
.title{
  font-size: 3.5rem;
  font-weight: bold; 
}
.title--3{
  font-size: 1.5rem;
}
.card{
  width: 100%;
  max-width: 1080px;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
  container: inline-size;
}


.card .card-content{
  display: flex;
  align-items: center;
}

.card img{
  max-height: 204px;
}

.card-text-content{
  flex: 1;
  padding: 0.8rem 1.2rem;
}

@container (max-width: 550px) {
  .card-content{
    flex-direction: column;
  }
  .card-image{
    width:100%;
  }
  .card-image img{
    width: 100%;
    height: auto;
    max-height: none;
  }
}

.main-btn{
  border: solid 1.5px currentColor;
  color: #e64980;
  padding: 0.8rem 1.2rem;
  display: inline-block;
  border-radius: 0.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap:1.5rem;
}

.main-section{
  display: flex;
  gap:50px;
  justify-content: space-between;
  margin-top:1.5em;
  max-width: 90vw;
  margin: 0 auto;
}

.main-section aside{
  width: 350px;
}
.coming-soon-section{
  max-width: 90vw;
  margin: 0 auto;
}


.row{
  display: flex;
  container-type: inline-size;
  container-name: comingsoon;
  gap:1em;
  flex-wrap: wrap;
}

.row .card{
  flex-shrink: 0;
}

@container comingsoon (min-width: 1200px){
  .card{
    width: 350px;
    max-width: 100%;
  }
  .card .card-content{
    
    flex-direction:column;
  }
}

@media (max-width: 1400px){
  .main-section{
    display: block;
  }
  .main-section aside{
    width: 100%;
  }
}
header{
  container: inline-size;
}
@container (max-width: 400px){
  .title{
    font-size: 2rem;
  }
  .title--3{
    font-size: 1.5rem;
  }
}

@media (max-width: 350px){
  
  nav{
    grid-template-columns: 1fr;
  }
}